.dropDown{
    margin-left: 40px; 
}
button#dropdown-basic-button {
    background-color: #32D281;
    border:none;
    border-radius: 0px;
    font-size: 12px;
}
.navbar#menu2{
    border-top: solid rgb(211, 211, 211) 1px;
    border-bottom: solid rgb(211, 211, 211) 1px;
}